<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fintech.Correntista.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fintech.Correntista.Wpf.Properties.Settings>
            <setting name="CaminhoArquivoMovimento" serializeAs="String">
                <value>Dados\Movimento.txt</value>
            </setting>
            <setting name="StringConexaoFintech" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Fintech;Integrated Security=True</value>
            </setting>
        </Fintech.Correntista.Wpf.Properties.Settings>
    </applicationSettings>
</configuration>